* {
    font-family: "Source Code Pro", monospace;
}

body {
    margin: 0;
    background: #000;
    color: #fff
}

main {
    margin: 1rem
}

footer {
    margin-top: 2rem;
    padding: 2rem
}

nav {
    padding: 1rem 0;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    background-color: #000;
}

h2 {
    font-weight: 400;
    color: yellow
}

h2::before {
    content: "> ";
}

.bg-color-lighter {
    background-color: #171717;
}

.btn,
.card-body {
    padding: 1vh 2vw;
}

.btn,
.card a {
    color: #fff;
    text-decoration: none;
}

.btn,
.card {
    border: 2px solid currentColor
}

.card {
    max-width: 360px;
}

.card-image {
    height: 10rem;
    background-size: cover;
}

.card:hover,
.card:hover a,
.btn:hover {
    color: yellow;
    background-color: rgba(255, 255, 0, 0.1);
}

li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

li::marker {
    content: '> ';
}

.text-green {
    color: #7fff00
}

.row-wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 1.5rem;
}